body {
  margin: 0;
  background: $primary-background;
}

.grid {
  height: 100vh;
  padding: 20px;
  display: grid;
  grid-template-rows: .4fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 3fr;
  grid-gap: 20px;
}

nav {
  grid-row: 1 / 2;
  grid-column: 1 / 4;
  background-color: $yellow;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.logo {
  display: flex;
  align-items: center;
  width: 18%;
  justify-content: space-between;
  font-size: 20px;
}

.nav-links {
  display: flex;
  align-items: center;
  min-width: 30%;
  font-size: 20px;
  justify-content: space-around;

  & a:hover {
    color: #E0E0E0;
    cursor: pointer;
  }
}

.user-dash {
  grid-row: 2 / 5;
  grid-column: 1 / 2;
  padding: 20px;
  background-color: $pink;
  border-radius: 5px;
  display: grid;
  grid-template-rows: 1.5fr .5fr 1fr;
}

.user-info {
  text-align: center;
}

.input-form {
  grid-row: 3 / 4;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.date-picker,
.find-rooms {
  height: 5vh;
}

.bookings {
  grid-row: 2 / 5;
  grid-column: 2 / 4;
  display: grid;
  grid-gap: 20px;
}

.bookings-list {
  display: grid;
  grid-gap: 20px;
  text-align: right;
}

.item {
  margin: 20px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  background: $tan;
  box-shadow: 0px 0px 20px #1E2630;
  border-radius: 5px;
}

.room-num {
  text-align: center;
  font-size: 20px;
}

.line {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

.item-avail {
  @extend .item;
  text-align: center;
}

/* Dropdown Button */
.dropbtn {
  background-color: #0E0E0E;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;

  .dropdown {
    position: relative;
    display: inline-block;
  }
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
}

.dropdown-content option {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;

  &:hover {
    background-color: #E0E0E0;
  }
}

.dropdown:hover .dropdown-content {display: block;}


.hidden {
  display: none;
}
