$fifty: 50px;

$primary-background: #EBEEF7;
$pink: #F4E0DE;
$tan: #EBEEF7;
$dark-green: #0B646D;
$yellow: #C0E1DA;
$light-blue: #D2F3F2;

@mixin flex() {
  display: flex;
  justify-content: space-between;
}

@mixin flex-column() {
  display: flex;
  flex-direction: column;
}

@mixin grid-gap() {
  display: grid;
  grid-gap: 20px;
}
